<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<body>

<div class="container" id="app" v-cloak>
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{steps[activeIndex].text}}
            </div>
            <ul class="steps-list">
                <li class="steps-item"
                    v-for="(step,index) in steps"
                    @click="setActive(index)"
                    :class="[index<activeIndex? 'done':'',index===activeIndex? 'active':'']">
                    <span>{{index + 1}}</span>&nbsp;{{step.title}}
                </li>
            </ul>
            <div>
                <button v-if="finished" class="btn" @click="reset()">Начать заново</button>
                <div v-else>
                    <button class="btn" @click="prev()" :disabled="prevButtonIsDisabled">Назад</button>
                    <button @click="nextOfFinish" class="btn primary">
                        {{lastStep ? 'Вперед' : 'Завершить'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
